$width: 1170px;
$margin: 0 auto;
$background: #f5f7f8;
$height: 400px;
$width-odenis: 330px; 
$height-odenis: 50px;
$border-left-odenis: 10px solid red;
$background-odenis: white;
$text-align-odenis: center;
$p-top: 14px;
$p-position: relative;
$p-margin-left: -130px; 
$margin-left-odenis: 60px; 
$top-odenis: 100px;


.inner{width: $width; margin: $margin; }
.header-body{background: $background; height: $height}
.odenis{top: $top-odenis; margin-left: $margin-left-odenis;	position: $p-position; width: $width-odenis; height: $height-odenis; border-left: $border-left-odenis; background: $background-odenis; text-align: $text-align-odenis;}
.odenis p {top: $p-top; position: $p-position; margin-left: $p-margin-left}